@model Zanche_Martin_InmobiliariaULP.Models.Contrato

@{
    ViewData["Title"] = "Nuevo contrato";
    var inmueble= @ViewBag.Inmuebles.Id +"-" + @ViewBag.Inmuebles.Direccion;
}


<h4>Nuevo contrato</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label>
           
                <input type="date" name="FechaInicio" id="fechaInicio" value="" 
                  min="" max="" class="form-control" />
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label>
              
                 <input type="date" name="FechaFin" id="fechaFin" value="" class="form-control" />
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
          <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <select class="form-select"  Disable name="Estado">
                  <option value="" disabled selected>Seleccionar estado  </option>
                  <option value="Vigente">Vigente</option>
                  <option value="No vigente">No vigente</option>
                </select>

                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>

             <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>            
                <select class="form-select" name="InquilinoId">
                  <option value="" disabled selected>Seleccionar inquilino  </option>
                    @foreach (var item in 
                    (IList<Inquilino>)ViewBag.Inquilino)
                    {
                        <option value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>   
                <input asp-for ="InmuebleId" class="form-control" value=@ViewBag.Inmuebles.Id hidden/>        
                <input  name="Inmueble" value="@ViewBag.Inmuebles.Id - @ViewBag.Inmuebles.Direccion"  class="form-control" readonly />
                
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
              @* <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>            
                <select class="form-select" name="InmuebleId">
                  <option value="" disabled selected>Seleccionar inmueble  </option>
                    @foreach (var item in 
                    (IList<Inmueble>)ViewBag.Inmueble)
                    {
                        <option value="@item.Id">@(item.Id + " " + item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Dni_Garante" class="control-label"></label>
                <input asp-for="Dni_Garante" class="form-control" />
                <span asp-validation-for="Dni_Garante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Garante" class="control-label"></label>
                <input asp-for="Nombre_Garante" class="form-control" />
                <span asp-validation-for="Nombre_Garante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido_Garante" class="control-label"></label>
                <input asp-for="Apellido_Garante" class="form-control" />
                <span asp-validation-for="Apellido_Garante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_Garante" class="control-label"></label>
                <input asp-for="Telefono_Garante" class="form-control" />
                <span asp-validation-for="Telefono_Garante" class="text-danger"></span>
            </div>
<br>
          
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

<script>
  

window.onload = function () {
  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth() + 1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo año
  if (dia < 10) dia = "0" + dia; //agrega cero si el menor de 10
  if (mes < 10) mes = "0" + mes; //agrega cero si el menor de 10
  document.getElementById("fechaInicio").value = ano + "-" + mes + "-" + dia;
  document.getElementById("fechaInicio").min = ano + "-" + mes + "-" + dia;

  //sumar 2 años a la fecha actual
  var fecha2 = new Date(); //Fecha actual
  var mes2 = fecha2.getMonth() + 1; //obteniendo mes
  var dia2 = fecha2.getDate(); //obteniendo dia
  var ano2 = fecha2.getFullYear() + 2; //obteniendo año
  if (dia2 < 10) dia2 = "0" + dia2; //agrega cero si el menor de 10
  if (mes2 < 10) mes2 = "0" + mes2; //agrega cero si el menor de 10
  document.getElementById("fechaFin").value = ano2 + "-" + mes2 + "-" + dia2;
   document.getElementById("fechaFin").max = ano2 + "-" + mes2 + "-" + dia2;
     document.getElementById("fechaFin").min =  ano + "-" + mes + "-" + dia;
};
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
