@model Zanche_Martin_InmobiliariaULP.Models.Contrato

@{
    ViewData["Title"] = "Eliminar contrato";
}

@*  ALERTAS PERSONALIZADAS DE PANTALLA*@
		<div class="">
			@if (ViewBag.Id != null)
			{//alta exitosa
				<div class="alert alert-success alert-dismissible fade show" role="alert">
					<strong>¡Éxito!</strong> La entidad fue dada de alta con id: @ViewBag.Id
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
					</button>
				</div>
			}
			else if (ViewBag.Mensaje != null)
			{//cartel general
				<div class="alert alert-info alert-dismissible fade show" role="alert">
					<strong>Información:</strong> @ViewBag.Mensaje
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
					</button>
				</div>
			}
			else if (ViewBag.Error != null)
      

			{//alta exitosa
       var error= ViewBag.Error;
       
				<div class="alert alert-danger alert-dismissible fade show" role="alert">
					<strong>¡Error!</strong> No se puede borrar el registro. Verifique si tiene pagos asociados. @*<br> @ViewBag.Error.*@
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
						<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
					</button>
				</div>
			}
			else if (!String.IsNullOrWhiteSpace(ViewBag.Error))
			{//ocurrió un error
				<environment names="Development">
					<div class="alert alert-danger alert-dismissible fade show" role="alert">
						<strong>¡Error!</strong> Ocurrió: @ViewBag.Error
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
							<span aria-hidden="true"><span class="lnr lnr-cross-circle"></span></span>
						</button>
						<a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" aria-expanded="false"><span class="lnr lnr-plus-circle"></span></a>
						<div class="collapse multi-collapse" id="multiCollapseExample1">
							@ViewBag.StackTrace
						</div>
					</div>
				</environment>
			}			
		</div>
@*FIN ALERTAS PERSONALIZADAS*@


<h3>Se procedera a eliminar el siguiente inmueble</h3>
<div>
    <h4>Contrato</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaInicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaFin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InquilinoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InquilinoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InmuebleId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InmuebleId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni_Garante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Garante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Garante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_Garante)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Borrar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
    </form>
</div>

@* 
    <main role="main" class="container"> *@
