@model IEnumerable<Zanche_Martin_InmobiliariaULP.Models.Contrato>

@{
    ViewData["Title"] = "Contratos";
    var Contratos= (IList<Contrato>)ViewBag.Contratos;
    var Inquilinos= (IList<Inquilino>)ViewBag.Inquilinos;
    var Inmuebles= (IList<Inmueble>)ViewBag.Inmuebles; 
}

<h1>Contratos</h1>
<hr>
<p>
    <a asp-action="Create" class="btn btn-primary">Nuevo contrato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaFin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InquilinoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InmuebleId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Contratos) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaFin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.InquilinoId)
            </td>
             *@
             @foreach (var i in Inquilinos){
                @if (i.Id == item.InquilinoId)
                    {
                        <td>@(i.Nombre + " " + i.Apellido)</td>
                    }
             }
                    @* {
                        @:<td @(i.Id==item.InquilinoId ? "value": @i.Id)>@(i.Nombre + " " + i.Apellido)</td>
                    } *@
            
            @* <td>
                @Html.DisplayFor(modelItem => item.InmuebleId)
            </td> *@
            @foreach (var i in Inmuebles){
                @if (i.Id == item.InmuebleId)
                    {
                        <td>@(i.Tipo + " - " + i.Direccion)</td>
                    }
             }
            <td>
                @Html.ActionLink("Editar", "Edit", new {  id=item.Id },new {@class="btn btn-success"}) |
                @Html.ActionLink("Detalles", "Details", new {  id=item.Id },new {@class="btn btn-warning"}) |
                @Html.ActionLink("Borrar", "Delete", new {  id=item.Id  }, new {@class="btn btn-danger"}) | 
                @Html.ActionLink("Pagos", "Index","Pagos", new {  id = item.Id }, new {@class="btn btn-info"})
            </td>
        </tr>
}
    </tbody>
</table>
