@model Zanche_Martin_InmobiliariaULP.Models.Contrato

@{
    ViewData["Title"] = "Contrato - Editar";
    var Inquilinos= (IList<Inquilino>)ViewBag.Inquilinos;
    var Inmuebles= (IList<Inmueble>)ViewBag.Inmuebles; 
}

<h1>Renovar contrato</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control"  disabled/>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="FechaInicio" class="control-label"></label> 
                  <input asp-for="FechaInicio" class="form-control" />
                @* <input type="date" name="FechaInicio" value=@Model.FechaInicio.AddDays(2) class="form-control" /> *@
                <span asp-validation-for="FechaInicio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaFin" class="control-label"></label> (por defecto es la fecha de inicio + 2 a単os)
                <input asp-for="FechaFin" class="form-control" />
                @* <input name="FechaFin" value=@Model.FechaInicio.AddMonths(24) class="form-control" /> *@
                <span asp-validation-for="FechaFin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input name="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                @* <input asp-for="Estado" class="form-control" /> *@
                  <select asp-for="Estado"  class="form-select"   name="Estado">
                  <option value="" disabled >Seleccionar estado  </option>
                  <option value="Vigente">Vigente</option>
                  <option value="No vigente">No vigente</option>
                </select>
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InquilinoId" class="control-label"></label>
                @* <input asp-for="InquilinoId" class="form-control" /> *@
                <select class="form-select" name="InquilinoId">
                    @foreach (var item in Inquilinos)
                    {
                        @:<option @(item.Id==Model.InquilinoId ? "selected" : "") value="@item.Id">@(item.Nombre + " " + item.Apellido)</option>
                    }
                </select>
                <span asp-validation-for="InquilinoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="InmuebleId" class="control-label"></label>
                @* <input asp-for="InmuebleId" class="form-control" /> *@
                <select class="form-select" name="InmuebleId">
                    @foreach (var item in Inmuebles)
                    {
                        @:<option @(item.Id==Model.InmuebleId ? "selected" : "") value="@item.Id">@(item.Id + " " + item.Direccion)</option>
                    }
                </select>
                <span asp-validation-for="InmuebleId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dni_Garante" class="control-label"></label>
                <input asp-for="Dni_Garante" class="form-control" />
                <span asp-validation-for="Dni_Garante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre_Garante" class="control-label"></label>
                <input asp-for="Nombre_Garante" class="form-control" />
                <span asp-validation-for="Nombre_Garante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido_Garante" class="control-label"></label>
                <input asp-for="Apellido_Garante" class="form-control" />
                <span asp-validation-for="Apellido_Garante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono_Garante" class="control-label"></label>
                <input asp-for="Telefono_Garante" class="form-control" />
                <span asp-validation-for="Telefono_Garante" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br>
<div>
    <a asp-action="Index">Volver al listado</a>
</div>

<script>
  window.onload = function () {
  var fecha = new Date(); //Fecha actual
  var mes = fecha.getMonth() + 1; //obteniendo mes
  var dia = fecha.getDate(); //obteniendo dia
  var ano = fecha.getFullYear(); //obteniendo a単o
  if (dia < 10) dia = "0" + dia; //agrega cero si el menor de 10
  if (mes < 10) mes = "0" + mes; //agrega cero si el menor de 10
  
  document.getElementById("fechaInicio").min = ano + "-" + mes + "-" + dia;

  //sumar 2 a単os a la fecha actual
  var fecha2 = new Date(); //Fecha actual
  var mes2 = fecha2.getMonth() + 1; //obteniendo mes
  var dia2 = fecha2.getDate(); //obteniendo dia
  var ano2 = fecha2.getFullYear() + 2; //obteniendo a単o
  if (dia2 < 10) dia2 = "0" + dia2; //agrega cero si el menor de 10
  if (mes2 < 10) mes2 = "0" + mes2; //agrega cero si el menor de 10

   document.getElementById("fechaFin").max = ano2 + "-" + mes2 + "-" + dia2;
     document.getElementById("fechaFin").min =  ano + "-" + mes + "-" + dia;
};
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
