@model Zanche_Martin_InmobiliariaULP.Models.Inquilino

@{
    ViewData["Title"] = "Detailles inquilino";
}



<div>
    <h4>Inquilino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar_Trabajo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugar_Trabajo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni_Garante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Garante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido_Garante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_Garante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_Garante)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Editar", "Edit", new {  id = Model.Id }, new {@class="btn btn-success"}) |
    <a asp-action="Index" class="btn btn-secondary">Volver al listado</a>
</div>
